@font-face {
    font-family: 'Cloudsters';
    src: url('assets/fonts/cloudsters-cloudsters-400.otf') format('opentype');
}

*
{
    margin: 0;
    padding: 0;
}

a:link {
    color: #f2e82e;
    text-decoration: none;
    padding:1rem 1rem;
}

a:visited {
    color: #f2e82e;
    text-decoration: none;
    padding:1rem 1rem;
}

.hidden {
    opacity: 0;
    transition: opacity 1.5s;
}

.shown {
    opacity: 1;
    transition: opacity 1.5s;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;   
    background-color: rgb(27, 27, 27);
}

section button {
    position: relative;
    z-index: 1;
    width: auto;
    
    top: 47.5vh;
    align-self:center;
    align-content: center;
    background:transparent;
    padding:1rem 1rem;
    margin:0 1rem;
    margin-bottom: 5vh;
    font-family: "Cloudsters";
    letter-spacing:1px;    
    font-size: 3vh;
    font-weight: light;
    color:#f2e82e;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.5s;
}

section button:hover
{
  transform: scale(1.1);
  cursor: pointer;
}

::-webkit-scrollbar 
{
    display: none;
}