* {
    font-family: "Raleway";
    color: white;    
    font-weight: lighter;
}

#team-bottom {    
    position: absolute;
    border: 1px solid #ffffff;
    top: 97%;
    width: 95%;
    left: 2.5%;
}

#contact {
    position: absolute;
    top: 94%;
    left: 84%;
    font-size: 1.5vh;
}

body {
    overflow-y: hidden;
}

.page {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    overflow: hidden;
}

.tabs input {
    visibility: hidden;
    display: none;
}

.buttons {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}

.buttons label {
    width: 20px;
    height: 20px;
    background: #fff;
    opacity: 0.5;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.content {
    position: relative;
    width: 100vw;
    display: flex;
    transition: 0.5s;
}

.profile {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 40px;    
}

.profile .center {
    justify-content: center;
    align-items: center;
}

.left {
    position: relative;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;    
}

.right {
    position: relative;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.top {
    position: relative;
    height 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    margin-top: 7vh;
    margin-left: 5vw;
}

.bottom {
    position: relative;
    height 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.hide {
    visibility: hidden;
    display: none;
}

.profile button {
    width: 10vw;
    height: 5vh;
    font-size: 2vh;
    color: #000;
    margin-top: 40vh;
}

.profile img {
    height: 60%;
    width: 60%;
}

h1 {
    font-size: 12vh;
    color: #f2e82e;
}

#wutan {
    font-size: 8vh;
}

#jango {
    font-size: 8vh;
}

#van {
    font-size: 7vh;
}

#buggy {
    font-size: 8vh;
}

#prion {
    font-size: 6vh;
}

#jasmine {
    font-size: 8vh;
}

h3 {
    font-size: 3vh;    
}

h4 {
    font-size: 1.75vh;
}

.bio {
    width: 70%;
}
